/* * {
    border: 1px solid white;
} */
@font-face {
    font-family: "calculatorFont";
    src: url(../calculatorFont/digital-7.ttf);
}
.inputCont {
    text-align: center;
    margin-bottom: -27px;
}
.input {
    text-align: right;
    width: 390px;
    height: 115px;
    margin: auto;
    border-radius: 5px;
    border: 5px solid chocolate;
    font-size: 60px;
font-family: "calculatorFont";
background-color: grey;
color: white;
overflow-x: hidden;
}
.step2 {
    text-align: right;
    width: 390px;
    height: 115px;
    margin: auto;
    border-radius: 5px;
    border: 5px solid chocolate;
    font-size: 45px;
font-family: "calculatorFont";
background-color: grey;
color: white;
overflow-x: auto;
line-height: 100px;
}
.step3 {
    text-align: right;
    width: 390px;
    height: 115px;
    margin: auto;
    border-radius: 5px;
    border: 5px solid chocolate;
    font-size: 35px;
font-family: "calculatorFont";
background-color: grey;
color: white;
overflow-x: hidden;
line-height: 100px;
}