/* * {
    border: 1px solid white;
} */
@font-face {
    font-family: "calculatorFont";
    src: url(../calculatorFont/digital-7.ttf);
}
.inputCont {
    text-align: center;
    margin-bottom: -15px;
}
.input {
    text-align: right;
    width: 365px;
    height: 80px;
    margin: auto;
    border-radius: 5px;
    border: 3px solid chocolate;
    font-size: 60px;
font-family: "calculatorFont";
background-color: grey;
color: white;
}
.input:focus {
    outline: none;
}